.intervention-list-container {
    margin-top: 20px;
}

.intervention-table {
    width: 100%;
    border-collapse: collapse;
}

.intervention-table th,
.intervention-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.intervention-table th {
    background-color: #f5f5f5;
}

.intervention-actions button {
    margin-right: 5px;
}

.intervention-list-container {
    text-align: center;
}


.breadcrumb-container {
    text-align: left;
}

.breadcrumb {
    justify-content: flex-start;
    align-items: flex-start;
}




.breadcrumb {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
}

.breadcrumb-item {
    display: inline-block;
    margin-right: 5px;
}

.breadcrumb-item:last-child {
    margin-right: 0;
}

.breadcrumb-item.active {
    font-weight: bold;
}



/* Global styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Container styles */

.intervention-list-container {
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px;
}

.intervention-list-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Button styles */


.intervention-table .button.button-primary svg path {
    fill: green;
}

.intervention-table .button.button-danger svg path {
    fill: red;
}

.intervention-table .button.button-primary,
.intervention-table .button.button-danger {
    background-color: transparent;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 2000;
}

.modal-content {
    background-color: #fff;
    border-radius: 8px;
    padding: 60px;
    width: 90%;
    height:700px;
    max-width: 800px;

}


.modal-footer {
    text-align: right;
    flex-wrap: nowrap;
}

.modal-footer button {
    margin-left: 10px;
}



/* Input and textarea styles */

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 16px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:focus,
textarea:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input[type="date"],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="text"]::placeholder,
input[type="textarea"]::placeholder,
input[type="date"]::placeholder,
input[type="select"] ::placeholder{
    color: #888;
}

input[type="date"]:focus,
textarea:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

